*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(202, 202, 195, 0.912);
}

    .grid-layout{
    height: 2000px;
    display: grid;
    grid-template-areas: 'header header'
                         'navigator navigator'
                         'contenido contenido'
                         'footer footer';
    grid-template-rows: 13% 3% auto 10%;
}
.c1{

    grid-area: header;
 }
 .logoContainer{
     width: 1000px;
     height: 320px;
     margin-left: 70px;
 }
 .logo{
      width: 90%;
      height: 80%;
 }
 .c2{ 
     grid-area: navigator ;
     
 }
 .h1-index{
    width: 100%;
    font-size: 30px;
    color:midnightblue ;
    text-align: center;
 }
 .btn{
    position: sticky;
    top: 10px;
 }
 .btn:hover{
   background-color:rgb(124, 121, 121) ;   
   border-radius:midnightblue ; 
 }
 .navbar{
    background-color: midnightblue;
 }
 .navbar-brand{
    color: white;
 }
 .navbar-brand:hover{
    color: white;
    background-color:rgb(124, 121, 121) ;
    border-radius: 5px;
    padding: 10px;
 }
 .nav-link:hover{
    color: white;
    background-color:rgb(124, 121, 121);
    border-radius: 5px;
    padding: 10px;

}
.nav-link{
    color: white;
}
.c3{
    grid-area: contenido;
      
    
} 
 .row-index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
.container-index-text{
    text-align: center;
    padding:20px;
    flex-direction: column;
    justify-content: space-evenly;

}
.column-index{
    width: 300px;
    height: 400px;
    margin: auto;
}
   
 
 .sticky{
    height: 50px;
    width: 50px;
    position: sticky;
    left: 90%;
    bottom:10px;
}
 .c4{
    grid-area: footer;
  
 }


    
    
    

footer{
    background-color: black;
    height: 200px;
    margin-top: 100px;
}
.pFooter{
    display: flex;
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
    
} 
/* NOSOTROS */

             
.h1-nosotros{
   
    color: midnightblue;
    width: 350px;
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 20px;

}

.div-nosotros{
 display: grid;
 grid-template-columns: 1fr 1fr;
 margin-top: 50px;
  
}
.p-quienes-somos{
    width: 400px;
    margin: auto;
}
.div-mision{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-left: 20px;
}
.p-mision{
    width: 400px;
    margin: auto;
}
.h2-nosotros{
    width: 300px;
    text-align: center;
    position: relative;
    left: 620px;
    top: 70px;
    color: midnightblue;
    font-size: 30px;
}
.p-vision{
    width: 400px;
    margin: auto;
    position: relative;
    bottom: 20px;
}
.h3-nosotros{
    position: relative;
    left: 705px;
    bottom: 30px;
    color: midnightblue;
    font-size: 30px;
}
.p-valores{
    width: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 80px;
    bottom: 80px;
}
.imagen-valores{
    position: relative;
    left: 600px;
    bottom: 400px;
}
.h4-valores{
    position: relative;
    left: 150px;
    bottom: 150px;
    font-size: 30px;
    color:midnightblue ;
}

       /* PROYECTOS */


.row-proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.text-proyectos{
    width: 450px;
    margin-left: 20px;
    color: midnightblue;
    
}
.h1-proyectos{
    color: midnightblue;
    font-size: 40px;
    margin-left: 55px;
}
/* CONTACTO */

.form{
    background-color:midnightblue; 
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    padding: 5px 20px;
    margin:auto; 
    height: 700px;
    
    
}
.form-container{
    width: 100%;
    display: grid;
    gap: 16px;
    grid-auto-columns: 100%;
}
.form-title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    width: 70%;
    color: white;
    margin: auto;
    
}
.form-input{
    font-size: 15px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border: 1px solid ; 
    border-radius: 5px;
}
.form-input--message{
    resize: none;
    padding: 5px 5px 100px;
}
.form-cta{
    font-size: 15px;
    background-color:rgba(77, 77, 75, 0.912);
    color: white;
    border: none;
    font-weight: 300px;
    padding: 10px;
    border-radius: 5px;
}
.form-h2{
    width: 50%;
    align-items: center;
    margin-top: 20px;
    position: relative;
    left: 380px;
    color: midnightblue;
}

  


         /* TABLET */
@media screen and (max-width:900px){
    .row-index{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        
 } 
     .column-index{
     width: 330px;
     height: 430px;
     margin: auto;
     gap: 10px;
}
     .h1-index{
      width: 100%;
      font-size: 30px;
      color:midnightblue ;
      text-align: start;
}
.logo-container-footer{
    display: flex;
    list-style: none;
    position: relative;
    left: 400px;
   
   
 }
 .logo-container-footer li{
     margin-left: 50px;
     height: 40px;
     display: flex;
     
 }
.row-proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 100%;
   
}
.text-proyectos{
    width: 100%;
    color: midnightblue;
}
    
    
.h1-proyectos{
    color: midnightblue;
    font-size: 35px;
    align-items: center;
    width: 100%;
}

}



          /* MOBILE */

  @media screen and (max-width:600px) {
    .row-index{
        display: grid;
        grid-template-columns: 6fr;
        width: 100%;
        
    }
    .h1-index{
        width: 100%;
        font-size: 30px;
        color:midnightblue ;
        text-align: center;
    }
   
   .navbar-toggler{
    
    background-color: beige;
   }

       
    
    
    /* NOSOTROS MOBILE*/
    
    .div-nosotros{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 50px;
    }
    .div-mision{
        display: grid;
        grid-template-columns: 1fr;
        
        margin-left: 20px;
        margin-top: 50px;
    }
    /* PROYECTOS MOBILE */
    .row-proyectos{
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .col{
        width: 300px;
    }
    .text-proyectos{
        width: 100%;
        color: midnightblue;
        font-size: 20px;
        justify-content: start
    }
        
        
    .h1-proyectos{
        color: midnightblue;
        font-size: 30px;
        text-align: center;
        width: 100%;
    }


    /* CONTACTO MOBILE */

    .form{
        background-color:midnightblue; 
        width: 100%;
        border-radius: 10px;
       
    }
}
        
   

        

     
     
    

    
    



