html, body {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

.grid-layout {
  height: 2000px;
  width: 100%;
  display: grid;
  grid-template-areas: "header header" "navigator navigator" "contenido contenido" "footer footer";
  grid-template-rows: 8% 3% auto 5%;
}

.c1 {
  grid-area: header;
  width: 100%;
}

.logoContainer {
  width: 100%;
}
.logoContainer .logo {
  width: 300px;
  height: 180px;
}
@media screen and (max-width: 576px) {
  .logoContainer .logoContainer {
    width: 100%;
  }
  .logoContainer .logo {
    width: 480px;
    margin: 0 10px;
  }
}

.c2 {
  grid-area: navigator;
  width: 100%;
}

.btn {
  position: relative;
  right: 20px;
}
.btn:hover {
  background-color: rgb(124, 121, 121);
  border-radius: rgb(25, 25, 112);
}

.navbar-brand {
  color: rgb(25, 25, 112);
  font-family: "Playfair Display", serif;
  font-size: 20px;
}
.navbar-brand:hover {
  color: white;
  background-color: rgb(124, 121, 121);
  border-radius: 5px;
  padding: 10px;
}

.nav-link {
  color: rgb(25, 25, 112);
  font-family: "Playfair Display", serif;
  font-size: 20px;
}
.nav-link:hover {
  color: white;
  background-color: rgb(124, 121, 121);
  border-radius: 5px;
  padding: 10px;
}

.h1-index {
  width: 100%;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  color: rgb(25, 25, 112);
  text-align: center;
  text-shadow: 2px 2px 5px gray;
  text-transform: uppercase;
  margin: 50px 0;
}

.c3 {
  grid-area: contenido;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.row .card {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 5px gray;
}
.row .col {
  justify-self: center;
  width: 500px;
}
.row .card-title {
  text-align: center;
}
.row .card-text {
  text-align: center;
}
@media screen and (max-width: 992px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .row .col {
    width: 400px;
  }
  .row .row {
    width: 900px;
  }
}
@media screen and (max-width: 576px) {
  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
  .row .col {
    width: 100%;
  }
  .row .card-body {
    width: 100%;
  }
  .row .card {
    width: 100%;
  }
  .row .card-title {
    font-size: 30px;
  }
  .row .card-text {
    font-size: 25px;
  }
  .row .h1-index {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 30px;
  }
  .row .sticky {
    width: 10%;
    position: relative;
    left: 30%;
  }
}

.card-zen {
  margin-top: 50px;
  width: 100%;
}
.card-zen .card-title {
  text-align: center;
  font-size: 30px;
  color: rgb(25, 25, 112);
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 5px grey;
  margin-bottom: 20px;
}
.card-zen .card-text {
  text-align: center;
  color: rgb(25, 25, 112);
  margin-bottom: 30px;
}

.sticky {
  width: 10%;
  position: relative;
  left: 90%;
}
.sticky .logo-sticky {
  width: 60px;
  height: 60px;
  position: sticky;
  top: 100px;
}

.c4 {
  grid-area: footer;
  width: 100%;
}

.container-nosotros {
  margin-top: 40px;
  width: 100%;
}
.container-nosotros p {
  width: 350px;
  text-align: center;
}
.container-nosotros h1 {
  text-align: center;
  font-size: 30px;
  width: 100%;
  text-transform: capitalize;
}
.container-nosotros h2 {
  font-size: 30px;
  text-align: center;
}
.container-nosotros h3 {
  font-size: 30px;
  position: relative;
  bottom: 10px;
  padding: auto;
  text-align: center;
}
.container-nosotros .div-2 {
  position: relative;
  top: 50px;
}
.container-nosotros .div-3 {
  position: relative;
  top: 50px;
}
@media screen and (max-width: 992px) {
  .container-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container-nosotros h1 {
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .container-nosotros {
    display: block;
    width: 100%;
  }
  .container-nosotros .col {
    width: 100%;
    height: 700px;
    margin-left: 60px;
  }
  .container-nosotros h1 {
    width: 100%;
    margin: auto;
    font-size: 40px;
  }
  .container-nosotros h2 {
    width: 100%;
    text-align: center;
    font-size: 40px;
  }
  .container-nosotros h3 {
    width: 100%;
    position: relative;
    top: 30px;
    padding: 30px;
    text-align: center;
    font-size: 40px;
  }
  .container-nosotros p {
    width: 550px;
    text-align: center;
    font-size: 30px;
  }
}

.form-control {
  position: relative;
  right: 20px;
}

.container-proyectos {
  margin-top: 80px;
  width: 100%;
}
.container-proyectos .row-proyectos {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-proyectos .text-proyectos {
  width: 500px;
  padding-left: 40px;
  color: midnightblue;
}
.container-proyectos .h1-proyectos {
  color: midnightblue;
  width: 100%;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 5px grey;
  text-transform: uppercase;
}
.container-proyectos .col {
  width: 500px;
  margin: 0 5px;
}
@media screen and (max-width: 992px) {
  .container-proyectos .container-proyectos {
    width: 300px;
  }
  .container-proyectos .h1-proyectos {
    width: 100%;
  }
  .container-proyectos .row-proyectos {
    width: 90%;
  }
  .container-proyectos .col {
    width: 100%;
    margin: auto;
  }
  .container-proyectos .text-proyectos {
    padding-left: 10px;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container-proyectos {
    margin-top: 80px;
    width: 100%;
  }
  .container-proyectos .row-proyectos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
  .container-proyectos .col {
    width: 100%;
    margin-left: 5px;
  }
  .container-proyectos h1 {
    margin: auto;
    margin-bottom: 10px;
  }
  .container-proyectos .text-proyectos {
    align-items: center;
    width: 100%;
    font-size: 25px;
  }
}

/* INMUEBLES */
h1 {
  width: 100%;
  font-size: 40px;
  color: midnightblue;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 5px grey;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: midnightblue;
  margin: 50px 0 30px 20px;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 5px grey;
}

.container-alquiler {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container-alquiler .column-inmueble {
  width: 380px;
  color: midnightblue;
  flex-direction: column;
  text-align: center;
}
.container-alquiler .p-inmueble {
  width: 200px;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .container-alquiler {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .container-alquiler {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.container-alquiler .column-inmueble {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.container-alquiler .rounded {
  width: 90%;
  position: relative;
  left: 5px;
  box-shadow: 2px 2px 5px grey;
}
.container-alquiler .p-inmueble {
  width: 250px;
  margin: auto;
  padding: 10px;
}

h3 {
  color: midnightblue;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 5px grey;
}

/* CONTACTO */
.contacto {
  text-align: center;
  color: rgb(25, 25, 112);
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

.form {
  background-color: rgba(25, 25, 112, 0.1);
  box-shadow: 2px 2px 7px grey;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  padding: 5px 20px;
  margin: auto;
  height: 700px;
}

.form-container {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-auto-columns: 100%;
}

.form-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
  width: 70%;
  color: midnightblue;
  margin: auto;
}

.form-input {
  font-size: 15px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border: 1px solid;
  border-radius: 5px;
}

.form-input--message {
  resize: none;
  padding: 5px 5px 100px;
}

.form-cta {
  font-size: 15px;
  background-color: rgb(77, 77, 75);
  color: white;
  border: none;
  font-weight: 300px;
  padding: 10px;
  border-radius: 5px;
}

.div-footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 300px;
  margin-top: 100px;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .div-footer {
    width: 100%;
    height: 370px;
  }
}
.div-footer .pFooter {
  width: 400px;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.div-footer .pFooter-derechos {
  width: 400px;
  color: white;
  margin: auto;
  position: relative;
  top: 110px;
  left: 35px;
  justify-content: center;
}

.logo-redes {
  width: 30px;
  height: 30px;
}

.logo-container-footer ul {
  display: flex;
  padding: 0px;
  margin-left: 430px;
  margin-top: 30px;
}
.logo-container-footer ul li {
  margin-left: 50px;
  height: 40px;
  list-style: none;
}
@media screen and (max-width: 992px) {
  .logo-container-footer ul {
    margin-left: 28%;
  }
}
@media screen and (max-width: 576px) {
  .logo-container-footer ul {
    width: 100%;
    margin: auto;
    display: block;
  }
}
.logo-container-footer ul .pFooter {
  width: 30px;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
