
$size-title: 40px;
$font-title: 'Playfair Display', serif;
 .contacto {
    text-align: center;
    color: rgb(25, 25, 112); 
    font-size: $size-title;
    font-family: $font-title;
}
 .form {
    background-color: rgba(25, 25, 112, 10%);
    box-shadow: 2px 2px 7px grey;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    padding: 5px 20px;
    margin: auto;
    height: 700px;
}
 .form-container {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-auto-columns: 100%;
}
 .form-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    width: 70%;
    color: midnightblue;
    margin: auto;
}
 .form-input {
    font-size: 15px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border: 1px solid ; 
    border-radius: 5px;
}
 .form-input--message {
    resize: none;
    padding: 5px 5px 100px;
}
 .form-cta {
    font-size: 15px;
    background-color: rgb(77, 77, 75);
    color: white;
    border: none;
    font-weight: 300px;
    padding: 10px;
    border-radius: 5px;
}
 @media only screen and (max-width: 600px) {
    .form {
        width: 100%;
        max-width: none;
        height: auto;
    }
     .form-title {
        width: 90%;
    }
    .contacto{
        width: 90%;
    }
} 
@media only screen and (max-width: 375px) {
    .form {
        width: 100%;
        max-width: none;
        height: auto;
    }
    .form-title {
        width: 90%;
    }
    .contacto{
        width: 90%;
    }
}