@mixin tablet {
    @media screen and (max-width: 992px){
        @content ;
    }
    
}
@mixin mobile {
    @media screen and (max-width:576px) {
        @content ;
    }
}


$color-title: rgb(25, 25, 112,);
$font-title: 'Playfair Display', serif;
$size-title:40px;

html, body{
    margin: 0;
    padding: 0;
   
}

html{
    overflow-x: hidden;
}



    .grid-layout{
    height: 2000px;
    width: 100%;
    display: grid;
    grid-template-areas: 'header header'
                         'navigator navigator'
                         'contenido contenido'
                         'footer footer';
    grid-template-rows: 8% 3% auto 5%;
}


.c1{

    grid-area: header;
    width: 100%;
}



.logoContainer{
      width: 100%;
     
    
       
        .logo{
            width: 300px;
            height: 180px;
           
        }
        @include mobile{
            .logoContainer{
                width: 100%;
            }
            .logo{
                width: 480px;
                margin: 0 10px;
                
            }
        }
                
    }
   

.c2{
    grid-area: navigator;
    width: 100%;
}


.btn{
    position: relative;;
    right: 20px;
        &:hover{
            background-color: rgb(124, 121, 121); ;   
            border-radius: $color-title ; 
        }
       

    }


 

 .navbar-brand{
    color: $color-title;
    font-family: $font-title;
    font-size: 20px;
   
         &:hover{
                color: white;
                background-color:rgb(124, 121, 121);;
                border-radius: 5px;
                padding: 10px;
               
         }
    }
 .nav-link{
    color: $color-title;
    font-family: $font-title;
    font-size: 20px;
         &:hover{
                color: white;
                background-color:rgb(124, 121, 121);
                border-radius: 5px;
                padding: 10px;
            }
        }
        .h1-index{
            width: 100%;
            font-size: $size-title;
            font-family: $font-title ;
            color:$color-title ;
            text-align: center;
            text-shadow: 2px 2px 5px gray;
            text-transform: uppercase;
            margin: 50px 0;
          

            
           
            
         }
       
            
.c3{
    grid-area: contenido;
    width: 100%;
   
    
}
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        
       
       
        .card{
            background-color: rgba(255, 255, 255, 40%);
            box-shadow: 2px 2px 5px gray;
        }
        
       
        .col{
         justify-self: center;
         width: 500px;
        
          
        }
        .card-title{
            text-align: center;
        }
        .card-text{
            text-align: center;
        }
        
            

        

        
            
    
          @include tablet{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
                .col{
                    width: 400px;
                }
                .row{
                    width: 900px;
                }
        }
          @include mobile{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            margin: auto;
                    .col{
                       width: 100%;
                     
                    }
                    .card-body{
                        width: 100%;
                    }
                    .card{
                        width:100%;
                    
                    }
                    .card-title{
                        font-size: 30px;
                    }
                    .card-text{
                        font-size: 25px;
                    }
                    .h1-index{
                        text-align: center;
                        font-family: $font-title;
                        font-size: 30px;
                    }
                    .sticky{
                        width: 10%;
                        position: relative;
                        left: 30%;
                    }
                }
            }
            .card-zen{
             margin-top: 50px ;
             width: 100%;
          

            
              .card-title{
                text-align: center;
                font-size: 30px;
                color: $color-title;
                font-family: $font-title;
                text-shadow: 2px 2px 5px grey;
                margin-bottom: 20px;
              }
              .card-text{
                text-align: center;
                color: $color-title;
                margin-bottom: 30px;
              }
               
            }
            .sticky{
                width: 10%;
                position: relative;
                left: 90%;
                  .logo-sticky{
                        width: 60px;
                        height: 60px;
                        position: sticky;
                        top: 100px;
                       
                      }
                  }
            
           
           
               .c4{
                   grid-area: footer;
                   width: 100%;
               } 
             
                       
            
            

    
              
            
   
        

                
             
    
    
           
          
           
           
            
           
          
    
        






 
 



    
    



    
    
    
    
      

    