

$size-titulos:30px;
$color-title: rgb(25, 25, 112,);

html{
  overflow-x: hidden;
}

.card-title{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: $color-title;
  font-size: $size-titulos;
  text-shadow: 1px 1px 5px;
}
.card-text{
  text-align: center;
  color: $color-title;
}

@media only screen and (max-width: 600px) {
  .card-title {
    font-size: $size-titulos;
  }
  
  .card-text {
    font-size: 20px;
  }
}
   

        