@mixin tablet {
  @media screen and (max-width: 992px){
      @content ;
  }
  
}
@mixin mobile {
  @media screen and (max-width:576px) {
      @content ;
  }
}

$size-titulos:30px;
$color-title: rgb(25, 25, 112,);

html{
  overflow-x: hidden;
}

.card-title{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: $color-title;
  font-size: $size-titulos;
  text-shadow: 1px 1px 5px;
}
.card-text{
  text-align: center;
  color: $color-title;
}
   

        