
// Paleta de colores 

$color-titulos: midnightblue;
$color-fondo:rgba(202, 202, 195, 0.912);
$color-parrafos: white;
$color-body: beige;


// Tamaños de fuentes

$fuente-titulos:30px;
$fuente-parrafos:20px;

