@mixin tablet {
    @media screen and (max-width: 992px){
        @content ;
    }
}
@mixin mobile {
    @media screen and (max-width:576px) {
        @content ;
    }
}

footer{
    background-color: black;
    height: 200px;
    margin-top: 100px;

    .pFooter{
        display: flex;
        color: white;
        padding: 10px;
        align-items: center;
        justify-content: center;
    
} 
}
    .logo-redes{
        width: 30px;
        height: 30px;
    }
    .logo-container-footer ul{
        display: flex;
        padding: 0px;
        margin-left: 430px;
        @include tablet{
            margin-left: 28%;
         }
         @include mobile{
            margin-left: 18%;
         }
    }
    .logo-container-footer li{
        margin-left: 50px;
        height: 40px;
        list-style: none; 
      
        
    }
    
      
    
        
        
       
   
    
  

  
