#header{
    width: 1237px;
}
.c1{

    grid-area: header;
    width: 1237px;
}


.imagen-carousel{
    width: 1237px;
    margin-top: 10px;
}

.logoContainer{
        height: 150px;
       
        .logo{
            width: 270px;
            height: 170px;
    
        }
                
    }
   

